ol li {
    list-style-type: none;
    /* Removes the default numbering */
    padding-left: 0px;
    /* Resets the left padding */
}

li::before {
    content: "";
    /* Removes the default numbering */
}

.Carousel_containter {
    padding: 0px;
}

.html_structure_1 {
    background-color: #97DFFC;
    border-style: solid;
    border-color: red;
}

.html_structure_2 {
    background-color: #97DFFC;
    border-style: solid;
    border-color: blue;
}

.html_structure_3 {
    background-color: #97DFFC;
    border-style: solid;
    border-color: green;
}

/* semantic elements in html */
.S_header {
    border-style: solid;
    border-color: red;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.S_nav {
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.S_article {
    border-style: solid;
    border-color: green;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.S_section {
    border-style: solid;
    border-color: purple;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.S_aside {
    border-style: solid;
    border-color: yellow;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.S_footer {
    border-style: solid;
    border-color: pink;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}