ol li {
    list-style-type: none;
    /* Removes the default numbering */
    padding-left: 0px;
    /* Resets the left padding */
}

li::before {
    content: "";
    /* Removes the default numbering */
}

.Carousel_containter {
    padding: 0px;
    margin: 0px;
}

.html_structure_1 {
    background-color: #97DFFC;
    border-style: solid;
    border-color: red;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 15px;
    padding: 15px;

    .S_p {
        height: 25px;
        background-color: #97DFFC;
        border: solid beige;
        border-radius: 10px;
        position: absolute;
        transform: translate(10px, -30px);
    }

    .S_p.article {
        transform: translate(-10px, -60px);
    }

    .S_header {
        height: 50px;
        grid-area: 1 / 1 / 1 / 4;
    }

    .S_nav {
        grid-area: 2 / 1 / 2 / 1;
    }

    .S_aside {
        grid-area: 2 / 3 / 2 / 4;
    }

    .S_footer {
        height: 50px;
        grid-area: 3 / 1 / 3/ 4;
    }

    .S_article {
        height: 400px;
        grid-area: 2 / 2 / 2 / 3;
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
        padding: 20px;
        padding-top: 30px;
    }
}

.html_structure_2 {
    background-color: #97DFFC;
    border-style: solid;
    border-color: blue;
}

.html_structure_3 {
    background-color: #97DFFC;
    border-style: solid;
    border-color: green;
}

/* semantic elements in html */
.S_header {
    border-style: solid;
    border-color: red;
    border-radius: 5px;
}

.S_nav {
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
}

.S_article {
    border-style: solid;
    border-color: green;
    border-radius: 5px;
}

.S_section {
    border-style: solid;
    border-color: purple;
    border-radius: 5px;
}

.S_aside {
    border-style: solid;
    border-color: yellow;
    border-radius: 5px;
}

.S_footer {
    border-style: solid;
    border-color: pink;
    border-radius: 5px;
}