.Carousel {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-auto-rows: minmax(150px, auto);
    gap: 10px;
}

.Arrow_Left,
.Arrow_Right {
    width: 40px;
    height: 40px;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    background-color: rgb(254, 254, 254, 0.5);
    height: 40px;
    width: 40px;
}

.Arrow_Left {
    grid-area: 1 / 1 / 2/ 1;
    left: 30%;
    clip-path: polygon(10% 50%, 70% 5%, 50% 50%, 70% 95%);
}

.Arrow_Right {
    grid-area: 1 / 3 / 1/ 4;
    left: 70%;
    clip-path: polygon(90% 50%, 30% 95%, 50% 50%, 30% 5%);
}

.Div_Carousel {
    grid-area: 1 / 1 / 1 / 4;
}

.Arrow_Left:active,
.Arrow_Right:active {
    width: 60px;
    height: 60px;
    background-color: rgb(254, 254, 254, 1);
}

.Arrow_Left:hover,
.Arrow_Right:hover {
    background-color: rgb(254, 254, 254, 1);
}